<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#fff; padding-left: 5%">Verify OTP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  
  <div id="snackbar"> <span id="snackbar_error"></span></div>

  <div style="margin-top: 10%">
    <p class="forgot_label"
    align="center"
        >
    <strong> Enter OTP sent on your registered number.</strong> <br />
  </p>
  </div>

  <div style="padding-left: 20px; padding-right: 20px">
    <ion-row>
      <ion-col size="12" class="div-form">
        <form>
          <div>
            <ion-input
              ngModel
              [(ngModel)]="t1"
              name="a"
              #a
              (keyup)="moveFocus($event,b,'')"
              type="tel"
              placeholder="-"
            >
            </ion-input>
          </div>

          <div>
            <ion-input
              [(ngModel)]="t2"
              ngModel
              name="b"
              #b
              (keyup)="moveFocus($event,c,a)"
              type="tel"
              placeholder="-"
            >
            </ion-input>
          </div>

          <div>
            <ion-input
              [(ngModel)]="t3"
              ngModel
              name="c"
              #c
              (keyup)="moveFocus($event,d,b)"
              type="tel"
              placeholder="-"
            >
            </ion-input>
          </div>

          <div>
            <ion-input
              [(ngModel)]="t4"
              ngModel
              name="d"
              #d
              (keyup)="moveFocus($event,'',c)"
              type="tel"
              placeholder="-"
            >
            </ion-input>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-text class="error_msg" color="danger" *ngIf="otp_error">  Enter valid OTP</ion-text>

    <div class="ion-margin" class="container-login100-form-btn">
      <button (click)="verify()" class="login100-form-btn">Verify otp</button>
    </div>
  </div>
  <div  style="margin-top:10px;margin-left: 4%;">
    <p class="text-xs text-gray-600 p-1" (click)="resend_otp()" *ngIf="time==0">Didn't receive code ?  <span class="primary-color">Resend</span> </p>
    <p class="text-xs text-gray-600 p-1" *ngIf="time>0"> Didn't receive code? Resend  <span style="color: var(--ion-color-primary);"> 00:{{time}}</span> </p>
</div>
  <div *ngIf="loader_visibility" class="lds-ripple">
    <div></div>
    <div></div>
  </div>

</ion-content>

