<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#fff; padding-left: 5%">About Us</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <div align="center" style="margin-top: 10px">
    <span class="login100-form-avatar">
      <img src="assets/logo.png" alt="AVATAR" />
    </span>  </div>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-10 p-b-20">
        <div class="bottom_divknow p-t-20">
          <div class="about_text">
            Amruta's Fresh Chicken Amruta Hatcheries & Foods in Amravati is one
            of the leading businesses in the Chicken Retailers Also known for
            Chicken Retailers Chicken Home Delivety, Chick Distributors Chick
            Wholesalers, Broiler Chicken wholesalers, Halal Chicken Retailers
            Chicken exporter ard much more.
             Amruta Hatcheries & Foods in Dastur Nagar has a wide range
            of products and / or services to cater to the varied of their
            customers. The staff at ilis establishment courteous and prompt at
            providing any assistance. They answer any queries or questions that
            you may have Pay for the product or service
          </div>
        </div>
        <div class="contact_div">
          <h2 >Amruta's Fresh Chicken</h2>
          <p class="p-t-10">
            Plot No 3, Bhagyoda Colony, Near Gondbaba Mandir, Old Bypass Road,
            Dastur Nagar, Amravati Maharashtra - 444605
          </p>

         

          <div class="container-login100-form-btn m-b-8 m-b-8">
            <button (click)="makeCall()" class="login100-form-btn">
              Call Now
            </button>
          </div>


        </div>
      </div>
    </div>
  </div>
</ion-content>
