<ion-header>
  <ion-toolbar color="toolbar">
    <ion-icon
      class="ion-margin"
      slot="start"
      name="close"
      size="large"
      (click)="dismiss()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <ion-radio-group
      (ionChange)="radioChange($event)"
      value="{{reasons[0].val}}"
      class="ion-no-margin"
      class="ion-no-padding"
    >
      <ion-item *ngFor="let entry of reasons; let i =index">
        <ion-label style="font-size: smaller">{{entry.val}}</ion-label>
        <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
      </ion-item>
    </ion-radio-group>

  <div align="center">
    <ion-button (click)="orderCancel()"
      ><span style="color: rgb(223, 223, 223)"> Cancel order </span></ion-button
    >
  </div>
</ion-content>
