* {
  font-family: 'Ubuntu', sans-serif !important;
}
.scroll-content {
  overflow-y: hidden;
}
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1%;
}

.header_title {
  letter-spacing: 1px;
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-family: 'Acme', sans-serif;

}

.login100-form-btn {
  letter-spacing: 1px;
  color: var(--ion-color-medium2);
  border: 1px solid var(--ion-color-dark);
  font-size: 0.8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 2px;
  padding: 0.3em 1.8em;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.imgContainer {
  width: 60px;
  height: 60px;
}

.product_cart {
  background-color: var(--ion-color-cardnewcolor);
  //height: 10%;
  border-radius: 5px;
  //margin:3%;
  ion-col {
    padding: 0 !important;
  }

  ion-row {
    padding: 0 !important;
  }

  img {
    margin: auto;
    height:100%;
    width: 100%;
    border-radius: 5px;
  }

  .padding_10 {
    padding-top: 0.5vh !important;
  }

  ion-label {
    p {
      padding: 0% 5%;
      font-size: 0.8em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: var(--ion-color-dark);
      padding-right: 5%;
      font-weight: bold;
    }
  }

  .rate_label {
    padding-left: 2vh;
    color: var(--ion-color-medium);
    font-size: 0.9em;
  }
}


.main_slider {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(.25, .46, .45, .94) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(.25, .46, .45, .94) both;
  padding: 3% 2%;

  .slide_s {
    height: 20vh;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(141, 161, 255, 0.17);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(141, 161, 255, 0.17);
    -moz-box-shadow: 1px 1px 5px 1px rgba(141, 161, 255, 0.17);

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      border-radius: 5px;
    }
  }
}
.ion_toolbar{
  color: var(--ion-color-dark);
  margin-bottom:0;
}