<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#fff; padding-left: 5%;">Set Password</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content color="tertiary">
  <div style="margin-top: 10%">
    <p class="forgot_label"
    align="center"
        >
    <strong>Set new password.</strong> <br />
  </p>
  </div>

  <div style="margin-top: 10%; padding-left: 5%; padding-right: 5%">
    <form #form="ngForm">
      <!-- <ion-item class="ion-margin" class="ion-padding">
        <ion-label>Enter password</ion-label>
        <ion-input
          name="pass"
          [(ngModel)]="pass"
          type="password"
          minlength="6"
          placeholder="********"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-margin" class="ion-padding">
        <ion-label>Confirm password</ion-label>
        <ion-input
          ngModel
          name="confirmPass"
          (keyup)="confirmPassword($event.target.value)"
          type="password"
          minlength="6"
          placeholder=""
        ></ion-input>
      </ion-item>

      <ion-button
        [disabled]="!btnView"
        (click)="changePassword()"
        expand="block"
        mode="ios"
        color="danger"
      >
        Click me
      </ion-button> -->

      <div
        class="wrap-input100 validate-input m-b-25"
        data-validate="Enter password"
      >
        <input
          class="input100"
          name="pass"
          [(ngModel)]="pass"
          type="password"
          minlength="6"
          required
        />
        <span class="focus-input100" data-placeholder="Password"></span>
      </div>

      <div
        class="wrap-input100 validate-input m-b-25"
        data-validate="Confirm password"
      >
        <input
          class="input100"
          ngModel
          name="confirmPass"
          (keyup)="confirmPassword($event.target.value)"
          type="password"
          minlength="6"
          required
        />
        <span class="focus-input100" data-placeholder="Confirm password"></span>
      </div>

      <div class="container-login100-form-btn">
        <button
          [disabled]="!btnView"
          (click)="changePassword()"
          class="login100-form-btn"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div id="snackbar"> <span id="snackbar_error"></span></div>

</ion-content>
