
ion-select{
  --placeholder-opacity: 1 !important;
  color: #555555;
  ;
}



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/






/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
margin: 0px; 
padding: 0px; 
box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif !important;

}




/*---------------------------------------------*/
a {
font-size: 14px;
line-height: 1.7;
color: #666666;
margin: 0px;
transition: all 0.4s;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
}

a:focus {
outline: none !important;
}

a:hover {
text-decoration: none;
color: #333333;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
margin: 0px;
}

p {
font-size: 14px;
line-height: 1.7;
color: #666666;
margin: 0px;
}

ul, li {
margin: 0px;
list-style-type: none;
}


/*---------------------------------------------*/
input {
outline: none;
border: none;
}

textarea {
outline: none;
border: none;
}

textarea:focus, input:focus {
border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
outline: none !important;
border: none;
background: transparent;
}

button:hover {
cursor: pointer;
}

iframe {
border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
font-size: 15px;
color: #999999;
line-height: 1.5;
}

.txt2 {
font-size: 15px;
color: #00a1fb;
line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
width: 100%;
margin: 0 auto;
overflow-y: scroll;

}

.container-login100 {
width: 100%;  
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding:2vh 15px;
  background:var(--ion-color-tertiary);
;  
}

.wrap-login100 {
width: 390px;
  background:var(--ion-color-tertiary);
;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
width: 100%;
}

.login100-form-title {
padding-top: 4vh;
display: block;
font-size: 1.2em;
font-weight: 200;
color: var(--ion-color-dark) !important;
font-weight: bold;
}

.login100-form-avatar {
padding: 15px;
display: block;
width: 14vh;
height: 14vh;
border-radius: 50%;
border:1px solid #a8a8a8;
box-shadow: 1px 1px 12px 1px rgba(186,186,186,0.25);
overflow: hidden;
margin: 0 auto;
}
ion-item{
--background:var(--ion-color-tertiary) !important;
}
.login100-form-avatar img {
width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
width: 100%;
position: relative;
border-bottom: 2px solid #d9d9d9;
}

.input100 {
font-size: 18px;
color: #555555;
line-height: 1.2;

display: block;
width: 100%;
height: 52px;
background: transparent;
padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
position: absolute;

display: block;
width: 100%;
height: 100%;
top: 0;
left: 0;
pointer-events: none;
}

.focus-input100::before {
content: "";
display: block;
position: absolute;
bottom: -2px;
left: 0;
width: 0;
height: 2px;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;

background: #57b846;
}

.focus-input100::after {

font-size: 12px;
color: #999999;
line-height: 1.2;

content: attr(data-placeholder);
display: block;
width: 100%;
position: absolute;
top: -5px;
left: 0px;
padding-left: 5px;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
top: -10px;
font-size: 0.7em;
}

.input100:focus + .focus-input100::before {
width: 100%;
}

.has-val.input100 + .focus-input100::after {
top: -10px;
font-size: 0.7em;
}

.has-val.input100 + .focus-input100::before {
width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
width: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.login100-form-btn {
font-size: 12px;
color: #fff;
line-height: 1.2;
text-transform: uppercase;

display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
padding: 0 20px;
width: 100%;
height: 45px;
background-image: linear-gradient(to right, #00a1fb, #00a1fb, #00a1fb, #00a1fb, #00a1fb);
border-radius: 5px;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.login100-form-btn:hover  {
background-color: #333333;
box-shadow: 1px 1px 12px 1px rgba(186,186,186,0.25);

}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
position: relative;
}

.alert-validate::before {
content: attr(data-validate);
position: absolute;
max-width: 70%;
background-color: #fff;
border: 1px solid #c80000;
border-radius: 2px;
padding: 4px 25px 4px 10px;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
right: 0px;
pointer-events: none;

color: #c80000;
font-size: 13px;
line-height: 1.4;
text-align: left;

visibility: hidden;
opacity: 0;

-webkit-transition: opacity 0.4s;
-o-transition: opacity 0.4s;
-moz-transition: opacity 0.4s;
transition: opacity 0.4s;
}

.alert-validate::after {
content: "\f06a";
font-size: 16px;
color: #c80000;

display: block;
position: absolute;
background-color: #fff;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
right: 5px;
}

.alert-validate:hover:before {
visibility: visible;
opacity: 1;
}

@media (max-width: 992px) {
.alert-validate::before {
  visibility: visible;
  opacity: 1;
}
}

.p-t-10{
padding-top: 10px;
}
.p-b-20{
padding-bottom: 20px;
}
.m-t-15{
margin-top: 15px;
}

.m-b-20{
margin-bottom: 20px;
}
/*//////////////////////////////////////////////////////////////////
[ Login more ]*/
.login-more li {
position: relative;
padding-left: 16px;
}

.login-more li::before {
content: "";
display: block;
position: absolute;
width: 5px;
height: 5px;
border-radius: 50%;
background-color: #cccccc;
top: 45%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
left: 0;
}

/*[ FONT SIZE ]
///////////////////////////////////////////////////////////
*/










